<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title ?: 'Wshly - Say Your Wish'}">Wshly</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:replace="~{fragments/config/tailwind-config :: tailwind-config}"></script>
    <link href="https://fonts.cdnfonts.com/css/superhelio" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/aux-dotbitc" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/superhelio');
        @import url('https://fonts.cdnfonts.com/css/aux-dotbitc');
    </style>
    <link rel="stylesheet" href="/css/card-styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
</html>
