.pixel-shadow {
    text-shadow: 2px 2px 0px rgba(220, 38, 38, 0.3);
}

#form-pane {
    z-index: 10;
}

#form-pane.translate-y-full > *:not(#form-toggle) {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

@media (min-width: 768px) {
    #form-pane.-translate-x-full > *:not(#form-toggle) {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
    }
}
