:root {
    --theme-50: #fef2f2;
    --theme-100: #fee2e2;
    --theme-200: #fecaca;
    --theme-300: #fca5a5;
    --theme-400: #f87171;
    --theme-500: #ef4444;
    --theme-600: #dc2626;
    --theme-700: #b91c1c;
    --theme-800: #991b1b;
    --theme-900: #7f1d1d;
    --theme-gradient-from: #fdf2f8;
    --theme-gradient-to: #fef2f2;
}

:root.snow {
    --theme-50: #eff6ff;
    --theme-100: #dbeafe;
    --theme-200: #bfdbfe;
    --theme-300: #93c5fd;
    --theme-400: #60a5fa;
    --theme-500: #3b82f6;
    --theme-600: #2563eb;
    --theme-700: #1d4ed8;
    --theme-800: #1e40af;
    --theme-900: #1e3a8a;
    --theme-gradient-from: #eff6ff;
    --theme-gradient-to: #ecfeff;
}
